.photo-grid {
  max-width: 1184px;
  margin: 92px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    margin: 88px auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 600px) {
  .photo-grid {
    max-width: 600px;
    grid-template-columns: repeat(1, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    margin: 64px auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
}
