.footer__link-container {
  display: flex;
  gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 466px) {
  .footer__link-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .footer__link-container {
    gap: 32px;
  }
}

