.cover {
  max-width: 1184px;
  margin: 92px auto;
  background: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px auto 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 66px auto 64px;
  }
}


